In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import warnings
warnings.filterwarnings("ignore")

ModuleNotFoundError: No module named 'talib'

In [2]:
# input
symbol = "SUM"
start_time = '2020-01-01'
end_time = '2020-07-29'

In [5]:
df = web.DataReader(symbol, 'yahoo', start_time, end_time)

df.tail()

                 High        Low   Open      Close   Volume  Adj Close
Date
2020-06-23  17.150000  16.639999  17.15  17.070000   595700  17.070000
2020-06-24  16.690001  15.524000  16.51  15.580000   757600  15.580000
2020-06-25  16.129999  15.220000  15.40  16.110001   571300  16.110001
2020-06-26  15.970000  15.110000  15.97  15.310000  2137600  15.310000
2020-06-29  16.520000  15.400000  15.80  16.490000   726648  16.490000

In [7]:
import talib as ta

ModuleNotFoundError: No module named 'talib'

In [ ]:
adx = ta.ADX(df['High'], df['Low'],df['Adj Close'], timeperiod=14)
adx = adx.dropna()

In [ ]:
# Line Chart
fig = plt.figure(figsize=(14,10))
ax1 = plt.subplot(2, 1, 1)
ax1.plot(df['Adj Close'])
#ax1.grid(True, which='both')
ax1.grid(which='minor', linestyle='-', linewidth='0.5', color='black')
ax1.grid(which='major', linestyle='-', linewidth='0.5', color='red')
ax1.minorticks_on()
ax1.legend(loc='best')
ax1.set_title('Stock '+ symbol +' Closing Price')
ax1.set_ylabel('Price')


ax2 = plt.subplot(2, 1, 2)
ax2.plot(adx, '-', label='ADX')
ax2.text(s='Strong Trend', x=adx.index[0], y=50, fontsize=14)
ax2.text(s='Weak Trend', x=adx.index[0], y=20, fontsize=14)
ax2.axhline(y=50,color='r')
ax2.axhline(y=20,color='r')
ax2.set_xlabel('Date')
ax2.legend(loc='best')