In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [2]:
# URL link 
symbol = 'AAPL'
url_is = 'https://finance.yahoo.com/quote/%s/financials?p=%s' %(symbol, symbol)
url_bs = 'https://finance.yahoo.com/quote/%s/balance-sheet?p=%s' %(symbol, symbol)
url_cf = 'https://finance.yahoo.com/quote/%s/cash-flow?p=%s' %(symbol, symbol)

In [3]:
read_data = ur.urlopen(url_is).read() 
soup_is= BeautifulSoup(read_data,'lxml')

In [4]:
ls= [] # Create empty list
for l in soup_is.find_all('div'): 
  #Find all data structure that is ‘div’
  ls.append(l.string) # add each element one by one to the list
 
ls = [e for e in ls if e not in ('Operating Expenses','Non-recurring Events')] # Exclude those columns

In [5]:
new_ls = list(filter(None,ls))

In [6]:
new_ls = new_ls[12:]

In [7]:
is_data = list(zip(*[iter(new_ls)]*6))

In [8]:
Income_st = pd.DataFrame(is_data[0:])

In [9]:
Income_st.columns = Income_st.iloc[0] # Name columns to first row of dataframe
Income_st = Income_st.iloc[1:,] # start to read 1st row
Income_st = Income_st.T # transpose dataframe
Income_st.columns = Income_st.iloc[0] #Name columns to first row of dataframe
Income_st.drop(Income_st.index[0],inplace=True) #Drop first index row
Income_st.index.name = '' # Remove the index name
#Income_st.rename(index={'ttm': '12/31/2019'},inplace=True) #Rename ttm in index columns to end of the year
Income_st = Income_st[Income_st.columns[:-5]] # remove last 5 irrelevant columns

In [10]:
Income_st

Annual,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Interest Expense,Total Other Income/Expenses Net,Income Before Tax,Income Tax Expense,Income from Continuing Operations,Net Income,Net Income available to common shareholders
,,,,,,,,,,,,,,
ttm,"259,034,000","160,871,000","98,163,000","15,857,000","17,883,000","33,740,000","64,423,000","3,634,000","76,000","66,031,000","10,336,000","55,695,000","55,695,000","55,695,000"
9/29/2019,"260,174,000","161,782,000","98,392,000","16,217,000","18,245,000","34,462,000","63,930,000","3,576,000","422,000","65,737,000","10,481,000","55,256,000","55,256,000","55,256,000"
9/29/2018,"265,595,000","163,756,000","101,839,000","14,236,000","16,705,000","30,941,000","70,898,000","3,240,000","-441,000","72,903,000","13,372,000","59,531,000","59,531,000","59,531,000"
9/29/2017,"229,234,000","141,048,000","88,186,000","11,581,000","15,261,000","26,842,000","61,344,000","2,323,000","-133,000","64,089,000","15,738,000","48,351,000","48,351,000","48,351,000"
9/29/2016,"215,639,000","131,376,000","84,263,000","10,045,000","14,194,000","24,239,000","60,024,000","1,456,000","-1,195,000","61,372,000","15,685,000","45,687,000","45,687,000","45,687,000"